@font-face {
    font-family: 'GoT';
    src: url('/css/fonts/gang_of_three/go3v2.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #aaaaaa;
}

.header {
    font-family: GoT;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

.index-menu {
    display: inline-flex;
}

.hover:hover {
    text-decoration: none;
    background-color: #fff;
    color: #777;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.index-buttons {
    font-family: GoT;
    text-align: center;
    list-style-type: none;
    padding-right: 40px;
    padding-bottom: 20px;
}

.buttons {
    color: unset;
    font-family: GoT;
    list-style-type: none;
    text-align: center;
    font-size: 22px;
    justify-content: center;
    padding: 22px;
    word-spacing: 22px;
}

.url-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-position: inside;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    padding-right: 45px;
    word-spacing: 4px;
}

.photo {
    max-width: 100%;
    height: auto;
}

.index-comment {
    font-size: 18px;
}

.about-main
  section
    h2 {
    animation-duration: 5s;
    animation-name: slidein;
    font-family: GoT;
    text-align: center;

}

.about-main
  section
    p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}
  
th, td {
    border: 2px solid #dddddd;
    padding: 12px;
    text-align: left;
}
  
th {
    background-color: #dddddd;
}

