@font-face {
    font-family: 'GoT';
    src: url('/css/fonts/gang_of_three/go3v2.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #aaaaaa;
}

.header {
    font-family: GoT;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
}

.index-menu {
    display: inline-flex;
}

.index-buttons {
    font-family: GoT;
    text-align: center;
    list-style-type: none;
    padding-right: 40px;
    padding-bottom: 20px;
}

.hover:hover {
    text-decoration: none;
    background-color: #fff;
    color: #777;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.buttons {
    color: unset;
    font-family: GoT;
    list-style-type: none;
    text-align: center;
    font-size: 22px;
    justify-content: center;
    padding: 22px;
    word-spacing: 22px;
}

.url-links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-position: inside;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    padding-right: 45px;
    word-spacing: 4px;
}

.photo {
    max-width: 100%;
    height: auto;
}

.index-comment {
    font-size: 18px;
}

.bookmark-container {
    border: 2px solid black;
    width: 300px;
    margin: 10px;
}

.whole-recipe {
    display: flex;
    justify-content: center;
}

.instruction-container {
    border: 2px solid black;
    width: 300px;
    margin: 10px;
}

.recipe-title {
    font-family: 'GoT';
    text-align: center;
}

.bookmarks {
    display: flex;
    justify-content: center;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}
  
th, td {
    border: 2px solid #dddddd;
    padding: 12px;
    text-align: left;
}
  
th {
    background-color: #dddddd;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3,
    p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 5px;
}